:root {
    --main-bg-color: #d17272;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-bg-color);
}

h1 {
    font-family: Courgette;
    text-align: center;
    font-weight: bold;
    font-size: 500%;
}

h1 img {
    width: 50px;
    height: auto;
}

h1 img.animated {
    animation: spin 1s infinite forwards;
    animation-timing-function: linear;
}

h1 span {
    position: absolute;
    left: -999rem;
    /* It's ugly it does the job, we might want to check with Jakob that our usage of 'position: absolute' is warranted */
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

#form {
    display: grid;
    grid-template-areas:
        ". a ."
        "b c d"
        "e g f";
}

label,
input,
select {
    display: block;
    font-family: Poppins;
    font-weight: 600;
}

input:not([type="submit"], [type="search"]),
select {
    width: 10rem;
}

input[type="submit"] {
    width: 7rem;
    grid-area: g;
    margin-left: auto;
    margin-right: auto;
    height: 3rem;
    border-radius: 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    transform: scale(1.3);
    border-color: #646cff;
    transition: 1s;
}

input[type="search"] {
    width: 20rem;
}

#searchContainer,
#categoryContainer,
#colorContainer,
#resultsPerPageContainer,
#orderContainer,
#imageTypeContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

#searchContainer,
#categoryContainer {
    align-items: center;
}

#colorContainer,
#resultsPerPageContainer {
    align-items: end;
}

#orderContainer,
#imageTypeContainer {
    align-items: start;
}

#orderContainer span,
#imageTypeContainer span {
    margin-left: 3rem;
}

#colorContainer span {
    margin-right: 4rem;
}

#searchContainer {
    grid-area: a;
}

#colorContainer {
    grid-area: b;
}

#categoryContainer {
    grid-area: c;
}

#imageTypeContainer {
    grid-area: d;
}

#resultsPerPageContainer {
    grid-area: e;
}

#orderContainer {
    grid-area: f;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

main img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    border: 2px solid white;
}

main p:first-of-type {
    color: blue;
}

main p span {
    cursor: pointer;
}

#navigationButtons {
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}

#navigationButtons button {
    background-color: var(--main-bg-color);
    border: 0;
    margin: 0 1rem 0 1rem;
}

#navigationButtons button:disabled {
    border: 2px solid red;
}

#navigationButtons img {
    width: 100px;
    height: 100px;
}

@media screen and (max-width: 1000px) {
    #form {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0;
    }

    #searchContainer,
    #colorContainer,
    #categoryContainer,
    #imageTypeContainer,
    #resultsPerPageContainer,
    #orderContainer {
        display: block;
    }

    #orderContainer span,
    #imageTypeContainer span {
        margin-left: 0;
    }

    #colorContainer span {
        margin-right: 0;
    }

    h1 {
        font-size: 300%;
    }

    h1 img {
        width: 30px;
        pointer-events: none;
    }

    input[type="search"] {
        width: 10rem;
    }

    main {
        flex-direction: column;
        place-content: center;
    }
}