* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightcoral;
}

h1 {
    font-family: Courgette;
    text-align: center;
    font-weight: bold;
    font-size: 500%;
}

h1 img {
    width: 50px;
    height: auto;
}

h1 img.animated {
    animation: spin 1s infinite forwards;
    /* How fast do we want the spinning animation to be? */
    animation-timing-function: linear;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

#form {
    display: grid;
    grid-template-areas:
        ". a ."
        "b c d"
        "e g f";
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

label,
input,
select {
    display: block;
    font-family: Poppins;
    font-weight: 600;
}

label {
    display: flex;
    place-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
}


input:not([type="submit"], [type="search"]),
select {
    width: 10rem;
}

input[type="submit"] {
    width: 7rem;
    grid-area: g;
    margin-left: auto;
    margin-right: auto;
    height: 3rem;
    border-radius: 20px;
    cursor: pointer;
}

input[type="search"] {
    width: 20rem;
}

#searchContainer {
    grid-area: a;
}

#colorContainer {
    grid-area: b;
}

#categoryContainer {
    grid-area: c;
}

#imageTypeContainer {
    grid-area: d;
}

#resultsPerPageContainer {
    grid-area: e;
}

#orderContainer {
    grid-area: f;

}

#orderContainer label {
    flex-direction: row;
}